@model Precision_Medicine_Matching_System.Models.ClinicalGuidelineAnnotation

@{
    ViewData["Title"] = "Details";
}

<h4>Details</h4>

<div>
    <h4>Clinical Guideline Annotation</h4>
    <hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Id)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Id)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Recommendation)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Recommendation)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Drug)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Drug)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Source)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Source)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.SummaryMarkdown)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.SummaryMarkdown)
		</dd>
	</dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
