@model IEnumerable<Precision_Medicine_Matching_System.Models.ClinicalGuidelineAnnotation>

@{
	ViewData["Title"] = "Clinical Guideline Annotations";
}

<h4>Clinical Guideline Annotations</h4>
<a style="text-align:end" class="nav-link" asp-area="" asp-controller="KnowledgeBase" asp-action="Index">Return to Knowledge Base</a>
<p>
	<a asp-action="Create">Create New</a>
</p>
<form asp-controller="ClinicalGuidelineAnnotations" asp-action="Index">
	<p>
		ID: <input type="text" name="SearchString" />
		<input type="submit" value="Filter" />
	</p>
</form>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Recommendation)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Drug)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Source)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SummaryMarkdown)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Id)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Recommendation)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Drug)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Source)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.SummaryMarkdown)
			</td>
			<td>
				<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
				<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
				<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
			</td>
		</tr>
		}
	</tbody>
</table>
